:root {
  --primary-color: #27112d;
  --secondary-color: #89c5cc;
  --tertiary-color: #709fa5;
  --heading-font-family: "Yeseva One", cursive;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
}

.navbar {
  background-color: #ffffff;
  color: var(--primary-color);
}

.logo {
  max-width: 150px;
}

.navbar ul li a {
  color: var(--primary-color);
}

.navbar ul li a:hover {
  color: var(--secondary-color);
}

.hero {
  text-align: center;
  padding: 150px;
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-size: 100px;
}

.hero h2 {
  margin-bottom: 75px;
  font-size: 20px;
  opacity: 0.7;
}

.hero p {
  font-size: 32px;
}

.btn-primary {
  color: white;
  background-color: var(--secondary-color);
  border-radius: 58px;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.5px;
  padding: 16px 40px;
  text-decoration: none;
  position: relative;
  bottom: 0;
  transition: bottom 0.5s ease;
}

.btn-primary:hover {
  bottom: 10px;
  background-color: var(--tertiary-color);
}

.girl-illustration {
  max-width: 220px;
  margin-top: -280px;
  margin-bottom: -200px;
  margin-right: 1000px;
  margin-left: -85px;
}

.plant-illustration {
  max-width: 220px;
  margin-top: -200px;
  margin-bottom: -150px;
  margin-left: 1050px;
}

.container {
  margin-top: -20px;
}

.container h3 {
  font-family: var(--heading-font-family);
  font-size: 50px;
  scroll-margin-top: 70px;
}

.container p {
  line-height: 28px;
}

.socials {
  font-size: 32px;
  text-align: center;
  padding: 18px 0px;
}

.socials a {
  text-decoration: none;
  color: var(--secondary-color);
  margin: 0 10px;
  position: relative;
  bottom: 0;
  transition: bottom 0.5s ease;
}

.socials a:hover {
  color: var(--tertiary-color);
  bottom: 10px;
}

@media (max-width: 900px) {
  .hero {
    padding: 50px 20px;
    margin-top: 50px;
    margin-bottom: -80px !important;
  }

  .hero h1 {
    font-size: 35px;
  }

  .hero h2 {
    margin-top: -10px;
    margin-bottom: 40px;
    line-height: 28px;
  }

  .hero p {
    font-size: 25px;
    margin-bottom: 5px;
  }

  .btn-primary {
    padding: 8px 20px;
  }

  .girl-illustration {
    display: block;
    margin: 35px auto;
    max-width: 230px;
  }

  .container img,
  .plant-illustration {
    display: none;
  }

  .container {
    margin-top: 60px;
    margin-bottom: 0;

    padding: 0px 30px;
  }

  .container h3 {
    font-size: 27px;
  }

  .container p {
    font-size: 18px;
    margin-bottom: -10px;
  }

  .socials {
    margin-top: -20px;
  }
}
